body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    text-align: center;
    margin: 0;
}


/*-------------------------TITLE PART---------------------------------------*/

.title{
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: #555753;
}

.title > button{
    border-radius: 100%;
    width: 45px;
    height: 45px;
    border: none;
    background-color: transparent;
}

.title > button > img{
    width: 100%;
}


/*-------------------------CONTAINER PART---------------------------------*/

.container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*-------------------------BOX PART---------------------------------------*/

.choice-area{
    padding: 15px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
}

.box{
    height: 200px;
    width: 200px;
    border: solid;
    border-color: #555753;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box > img{
    width: 50%;
}

.left, .right{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: none;
    background-color: transparent;
}

.left{
    background-image: url(assets/left.png);
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    
}

.right{
    background-image: url(assets/right.png);
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}

/*-------------------------REPLY PART---------------------------------------*/

#reply{
    background-color: #32a852;
    color: white;
    border: none;
    border-radius: 35px;
    padding: 2px  20px;
    text-align: center;
    
}

#reply:hover{
    color: #32a852;
    border: #32a852 solid 3px;
    background:#fff;
}


/*-------------------------WARDROBE PART-----------------------------------*/

#right-wardrobe{
    border: solid 6px #258ed9;
    border-right: 0;
    border-radius: 5px 0px 0px 5px;
}

#left-wardrobe{
    border: solid 6px #258ed9;
    border-left: 0;
    border-radius: 0px 5px 5px 0px;
}

#right-wardrobe, #left-wardrobe{
    height: calc(100vh - 125px);
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: calc(33% - 55px);
}

.wardrobe-elem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #258ed9;
    border-radius: 5px;
    margin: 5px;
}

.wardrobe-elem > img{
    width: 17%;
}


/*-------------------------CELEBRATION PART---------------------------------------*/

#celebration{
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-size: cover;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(223, 223, 223);
}

#celebration > img{
    border-radius: 10px;
}